# utilities
ipython
ipykernel
ruff
black
mypy
pytest
tomli_w
pydantic

# numerical analysis
numpy
numba
scipy
sympy
flatbuffers

# visualization
matplotlib
pandas
seaborn
colorcet
cmocean
pyvista
ipyvtklink

## domain-specific
astropy
sunpy
ChiantiPy
AIApy
# pfsspy => replaced by sunkit-magex
sunkit-magex
streamtracer

## io
h5py
netCDF4
vtk
# pyhdf  # could not build

# machine learning
scikit-learn
jax==0.4.31
jaxlib==0.4.31
torch
torchvision
torchaudio
lightning
# tensorflow  # requires cpython==3.11 (2024.02.13)

# # macOS-specific
# mlx
# tensorflow-metal

# web
flask
jinja2

